body {
    color: white;
    background: pink;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(196, 81, 158);
    padding: 20px;
    font-size: 32px;
    color:rgb(196, 81, 158);
}